<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-expand-lg" role="navigation" th:fragment="navbar">
        <a class="navbar-brand" href="#">学生信息管理系统</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav mr-auto">
                <li><a href="#"><strong>选课</strong></a>
                <li><a href="#"><strong>查看选课结果</strong></a>
                <li><a href="#"><strong>退选</strong></a>
                <li><a href="#"><strong>查看已修课程</strong></a>
                <li><a href="#"><strong>管理个人信息</strong></a>
            </ul>
            <p class="navbar-text navbar-right">你好！${sessionScope.sname}<a href="#" class="navbar-link">注销</a></p>
        </div>
    </nav>
</body>
</html>